

.card-container {
    max-width: 80%;
    margin: 0 auto;
    z-index: 2;
  }
  .slick-prev, .slick-next {
   
    display: none !important;

  }
   /* The first "PROJECTS" title at the top */
   .projects-stack {
    position: absolute;
    /* top: 20px; */
    right: 23%; 
    display: flex;
    flex-direction: column;
    font-size: 120px;
    font-weight: bold;
    color: white;
    /* z-index: 1; 
     overflow: hidden; */
  }
  
  .project {
    font-family:  var(--default-font-family);
    margin: 0;
    position: relative;
   /* letter-spacing: 20px;  Add space between letters */

  }
.u{
    z-index: 3;
    line-height: 100px;
}
  .em{

    line-height: 100px; /* Adjust the line height for overlap effect */
    color: transparent;
    opacity: 0.5;
    -webkit-text-stroke: 2px white; /* Outlined effect */ 
    z-index: 1;

  }


  @media (max-width: 900px) {
    .card-container {
        max-width: 80%;
        margin: 0 auto;
        z-index: 2;
      }
      .slick-prev, .slick-next {
        display: none !important;

      }
    
    .card {
      height: 400px;
      margin: auto;
      /* Adjust card height */
    }
  
    /* The first "PROJECTS" title at the top */
    .projects-stack {
      position: absolute;
      /* top: 20px; */
      right: 23%; 
      display: flex;
      flex-direction: column;
      font-size: 40px;
      font-weight: bold;
      color: white;
      /* z-index: 1; 
       overflow: hidden; */
    }
    
    .project {
      font-family: var(--default-font-family);
      margin: 0;
      position: relative;
      letter-spacing: 20px; /* Add space between letters */
  
    }
  .u{
      z-index: 3;
  }
    .em{
      opacity: 0.5;
      line-height: 100px; /* Adjust the line height for overlap effect */
      color: transparent;
      -webkit-text-stroke: 2px white; /* Outlined effect */ 
      z-index: 1;
  
    }
    
  }


  
  @media (max-width: 480px) {
    .card-container {
        max-width: 80%;
        margin: 0 auto;
        z-index: 2;
      }
      .slick-prev, .slick-next {
        display: none !important;

      }
    .projects-stack {
    
        right: 6%; 
        
        font-size: 30px;
       
      }
      
      .project {
    
        letter-spacing: 15px; /* Add space between letters */
    
      }
    
    .card {
      height: 400px;
      width: auto; /* Adjust card height */
    }
  
   
    .projects-title {
        font-size: 60px;
      }
    
      .projects-repeated span {
        font-size: 50px;
      }
    
  }