



.im {
  font-family: var(--default-font-family);
  font-size: 60px;
  padding: 15px;

  color: rgba(12, 12, 12, 0.801);
}
.text {
  font-family: var(--default-font-family);

  border-right: rgba(12, 12, 12, 0.801) SOLID;
  font-size: 70px;
  color: WHITE;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  

  .im {
    font-size: 40px;
    margin-top: auto;
  }

  .text {
    font-size: 30px;
  }
}
