/* @import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
--default-font-family:  "Inconsolata", monospace;
font-weight: 700;
  
}
body, html {
  overflow: hidden; /* This disables both X and Y scrolling */
}

.app {
  position: relative;
}

.content {
  position: relative;      /* Overlay relative to the video */
  z-index: 1;              /* Ensure it's above the background */
  text-align: center;      /* Centers text */
  color: #ffffff;          /* White text color */
  display: flex;           /* Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100vh;           /* Full viewport height */
  padding: 20px;           /* Padding for small screens */
  box-sizing: border-box;  /* Ensure padding doesn't overflow */
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  .content {
    font-size: 16px;       /* Adjust text size for smaller screens */
    padding: 10px;         /* Add padding to avoid text overflow */
  }
}

@media (max-width: 480px) {
  .content {
    font-size: 14px;       /* Further adjust text size for very small screens */
  }
}




